{#{% set page_title = title %}#}
{#{% set active = "SecondHand_bp.SecondHand_mgmt" %}#}
{% set page_title = "二手交易管理 - 交易超时" %}
{% set active = "SecondHand_management_bp.outdated_transaction" %}


{% extends theme("management/management_layout.html") %}

{% block breadcrumb %}
    <ol class="breadcrumb flaskbb-breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('management.overview') }}">{% trans %}
            Management{% endtrans %}</a></li>
        <li class="breadcrumb-item active">二手交易管理</li>
    </ol>
{% endblock %}

{% block management_content %}
    {%- from theme('_macros/pagination.html') import render_pagination -%}
    {%- from theme('_macros/navigation.html') import navlink with context -%}
    {%- from theme('_macros/form.html') import render_field -%}

    <div class="col-md-3 settings-col">
        <div class="nav-sidebar">
            <ul class="nav">
                {{ navlink('SecondHand_management_bp.outdated_transaction', "交易超时") }}
                {{ navlink('SecondHand_management_bp.outdated_transaction', "正在交易") }}
                {{ navlink('SecondHand_management_bp.outdated_transaction', "已发布") }}
                {{ navlink('SecondHand_management_bp.outdated_transaction', "交易完成") }}
            </ul>
        </div>
    </div>


    <div class="col-md-9 settings-col with-left-border">
        <div class="card settings">
            <div class="card-header settings-header">
                <span class="fas fa-hand-holding-usd"></span>交易超时
            </div>
            <div class="card-body settings-body">

            </div>
        </div>
    </div>
{% endblock %}
