{% set page_title = "二手交易管理 - 已发布" %}
{% set active = "SecondHand_management_bp.onSale" %}


{% extends theme("management/management_layout.html") %}

{% block breadcrumb %}
    <ol class="breadcrumb flaskbb-breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('management.overview') }}">
            {% trans %}Management{% endtrans %}</a></li>
        <li class="breadcrumb-item active">二手交易管理</li>
    </ol>
{% endblock %}

{% block management_content %}
    {%- from theme('_macros/pagination.html') import render_pagination -%}
    {%- from "helper/SecondHand_macro.html" import navlink_badge with context -%}
    {%- from theme('_macros/form.html') import render_input_field, action_confirm -%}

    <div class="col-md-3 settings-col">
        <div class="nav-sidebar">
            <ul class="nav">
                {{ navlink_badge('SecondHand_management_bp.outdated_transaction', "交易超时", badge = count_outdated_items) }}
                {{ navlink_badge('SecondHand_management_bp.onTransaction', "正在交易") }}
                {{ navlink_badge('SecondHand_management_bp.onSale', "已发布") }}
                {{ navlink_badge('SecondHand_management_bp.success', "交易完成") }}
            </ul>
        </div>
    </div>


    <div class="col-md-9 settings-col with-left-border">
        <div class="card settings">
            <div class="card-header settings-header">
                <span class="fas fa-hand-holding-usd"></span>已发布
            </div>
            <div class="card-body settings-body">


                <div class="settings-content">
                    <div class="settings-meta row">
                        <div class="col-md-1 col-sm-1 col-1 meta-item" style="width: 3%"><input type="checkbox"
                                                                                                name="rowtoggle"
                                                                                                class="action-checkall"
                                                                                                title="Select All"/>
                        </div>
                        <div class="col-md-2 col-sm-2 col-2 meta-item">物品名</div>
                        <div class="col-md-2 col-sm-2 col-2 meta-item">价格</div>
                        <div class="col-md-2 col-sm-2 col-2 meta-item">卖家</div>
                        <div class="col-md-2 col-sm-2 col-2">
                            <div class="dropdown">
                                <a class="dropdown-toggle text-dark text-decoration-none fw-bold"
                                   data-bs-toggle="dropdown"
                                   href="#" role="button" aria-expanded="false">
                                    <span class="fa fa-fw fa-cog"></span>
                                    {% trans %}Actions{% endtrans %}
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button class="dropdown-item btn btn-sm"
                                                onclick="return bulk_actions.execute('{{ url_for('management.delete_user') }}')">
                                            <span class="far fa-fw fa-trash-alt text-danger"></span>
                                            删除选择的物品
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% for i in items %}
                        <div class="row settings-row hover">
                            <div class="col-md-1 col-sm-1 col-1" style="width: 3%"><input type="checkbox" name="rowid"
                                                                                          class="action-checkbox"
                                                                                          value="{{ i.id }}"
                                                                                          title="Select Item"/></div>
                            <div class="col-md-2 col-sm-2 col-2"><a
                                    href="{{ url_for("SecondHand_management_bp.mgmt_item_desc", item=i.id) }}">{{ i.items_name }}</a>
                            </div>
                            <div class="col-md-2 col-sm-2 col-2 text-danger">¥{{ i.price }}</div>
                            {% if User.query.filter(User.id == i.sellerID).one_or_none() is none %}
                                <div class="col-md-2 col-sm-2 col-2">用户已删除</div>
                            {% else %}
                                <div class="col-md-2 col-sm-2 col-2"><a
                                        href="{{ User.query.filter(User.id == i.sellerID).one_or_none().url }}">{{ User.query.filter(User.id == i.sellerID).one_or_none().username }}</a>
                                </div>
                            {% endif %}

                            <div class="col-2">
                                {% if current_user|is_admin %}
                                    {{ action_confirm(
                                id="delete-" ~ i.id,
                                url=url_for('SecondHand_bp.SecondHand_del_myRelease', item=i.id),
                                title=_("Delete"),
                                icon="far fa-trash-alt text-danger"
                            ) }}
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="row settings-row">
                            <div class="col-12">没有已发布的订单</div>
                        </div>
                    {% endfor %}
                </div> <!-- end settings content -->
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        var bulk_actions = new window.app.BulkActions();
    </script>
{% endblock %}