{% extends theme("user/profile_layout.html") %}

{% block breadcrumb %}
    <ol class="breadcrumb flaskbb-breadcrumb bg-light">
        <li class="breadcrumb-item"><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="{{ user.url }}">{{ user.username }}</a></li>
        <li class="breadcrumb-item active">{% trans %}二手交易{% endtrans %}</li>
    </ol>
{% endblock %}

{% block javascript %}
{% endblock %}




{% block profile_content %}
    <main>
        <div class="d-flex align-items-start my-2">
            <div class="nav flex-column nav-pills m-2 me-5 shadow-lg p-3 mb-5 rounded border border-5"
                 id="userRecord-pills-tab"
                 role="tablist" aria-orientation="vertical">
                <p class="m-0 p-0 text-secondary">作为卖方</p>
                <button class="nav-link active m-1" id="button-onsale" data-bs-toggle="pill"
                        data-bs-target="#page-onsale" type="button" role="tab" aria-controls="button-onsale"
                        aria-selected="true">我的发布
                </button>
                <button class="nav-link m-1" id="button-ontransaction" data-bs-toggle="pill"
                        data-bs-target="#page-ontransaction" type="button" role="tab"
                        aria-controls="botton-on-transaction"
                        aria-selected="false">正在交易
                </button>
                <button class="nav-link m-1" id="button-success" data-bs-toggle="pill"
                        data-bs-target="#page-success" type="button" role="tab" aria-controls="button-success"
                        aria-selected="false">交易完成
                </button>
                <p class="m-0 p-0 text-secondary mt-3">作为买方</p>
                <button class="nav-link m-1" id="button-buyer-ontransaction" data-bs-toggle="pill"
                        data-bs-target="#page-buyer-ontransaction" type="button" role="tab"
                        aria-controls="button-buyer-ontransaction"
                        aria-selected="false">正在交易
                </button>
                <button class="nav-link m-1" id="button-buyer-success" data-bs-toggle="pill"
                        data-bs-target="#page-buyer-success" type="button" role="tab" aria-controls="page-buyer-success"
                        aria-selected="false">交易完成
                </button>
            </div>
            <div class="tab-content" id="v-pills-tabContent" style="width: 80%">
                <!--我发布的-->
                <div class="tab-pane fade show active" id="page-onsale" role="tabpanel"
                     aria-labelledby="page-onsale">
                    <div class="accordion accordion-flush" id="accordionFlush-onsalse">
                        {% for i in myRelease %}
                            <div class="accordion-item my-2 border border-primary border-2 rounded-2">
                                <h2 class="accordion-header form-check-label " id="flush-heading-{{ id(i) }}">
                                    <div class="row">
                                        <input class="col-1 form-check-input m-4 me-2" type="checkbox" value="" id=""
                                               style="width: 23px; height: 23px;">
                                        <button class="col accordion-button collapsed align-items-center me-4 p-0"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#flush-items-{{ id(i) }}">
                                            <h3 class="m-0 p-0">{{ i.items_name }}</h3> &nbsp;&nbsp;&nbsp;
                                            <p class="text-danger fw-bold m-0 p-0"> ¥{{ i.price }}</p> &nbsp;&nbsp;
                                            <p class="text-secondary m-0 p-0">发布时间: {{ i.post_date }}</p>
                                        </button>
                                    </div>
                                </h2>
                                <div id="flush-items-{{ id(i) }}" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionFlush-onsalse">
                                    <div class="accordion-body">
                                        <h4 class="text-secondary">描述</h4>
                                        <p>&nbsp;{{ i.description }}</p>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <button class="btn btn-primary me-md-2" type="button">修改</button>
                                            <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#confirmDel"
                                                    data-bs-delUrl="location.href='{{ url_for("SecondHand_bp.SecondHand_del_myRelease",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget = "#page-onsale")) }}'"
                                                    data-bs-itemName="{{ i.items_name }}">
                                                删除
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!--正在交易-->
                <div class="tab-pane fade" id="page-ontransaction" role="tabpanel"
                     aria-labelledby="page-on-transaction">
                    <div class="accordion accordion-flush" id="accordionFlush-ontransaction">
                        {% for i in onTransaction %}
                            <div class="accordion-item my-2 border border-primary border-2 rounded-2">
                                <h2 class="accordion-header form-check-label "
                                    id="ontransaction-flush-heading-{{ id(i) }}">
                                    <div class="row">
                                        <input class="col-1 form-check-input m-4 me-2" type="checkbox" value="" id=""
                                               style="width: 23px; height: 23px;">
                                        <button class="col accordion-button collapsed align-items-center me-4 p-0"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#ontransaction-flush-items-{{ id(i) }}"
                                                aria-expanded="false"
                                                aria-controls="ontransaction-flush-items-{{ id(i) }}">
                                            <h3 class="m-0 p-0">{{ i.items_name }}</h3> &nbsp;&nbsp;&nbsp;
                                            <p class="text-danger fw-bold m-0 p-0"> ¥{{ i.price }}</p>&nbsp;&nbsp;
                                            <p class="text-secondary m-0 p-0">发布时间: {{ i.post_date }}</p>&nbsp;&nbsp;
                                            {% if i.orderStatusId == 5 %}
                                                <span class="text-danger fw-bold">订单被买家取消</span>
                                            {% elif i.orderStatusId == 2 %}
                                                <span class="text-primary fw-bold">已被购买请联系买家</span>
                                            {% elif i.orderStatusId == 3 %}
                                                <span class="text-primary fw-bold">买家已确认收货</span>
                                            {% else %}
                                                <span class="text-primary fw-bold">系统异常</span>
                                            {% endif %}
                                        </button>
                                    </div>
                                </h2>
                                <div id="ontransaction-flush-items-{{ id(i) }}" class="accordion-collapse collapse"
                                     aria-labelledby="flush-heading-{{ id(i) }}"
                                     data-bs-parent="#accordionFlush-ontransaction">
                                    <div class="accordion-body">
                                        <h4 class="text-primary">买家信息</h4>
                                        <p>&nbsp;<span class="fw-bold text-muted ">手机号</span> {{ i.buyer_phone }}</p>
                                        <p>&nbsp;<span class="fw-bold text-muted ">Email</span> {{ i.buyer_email }}</p>
                                        <p>&nbsp;<span class="fw-bold text-muted ">地址</span> {{ i.buyer_location }}</p>
                                        <p>&nbsp;<span class="fw-bold text-muted ">留言</span> {{ i.buyer_comment }}</p>
                                        <h4 class="text-secondary">描述</h4>
                                        <p>&nbsp;{{ i.description }}</p>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            {% if i.orderStatusId == 2 %}
                                                <button class="btn btn-secondary" type="button" disabled>
                                                    等待买家确认收货
                                                </button>
                                            {% elif i.orderStatusId == 3 %}
                                                <button class="btn btn-success" type="button" data-bs-toggle="modal"
                                                        data-bs-target="#confirm-seller-success"
                                                        data-bs-Url="location.href='{{ url_for("SecondHand_bp.SecondHand_seller_success",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget = "#page-ontransaction")) }}'"
                                                        data-bs-itemName="{{ i.items_name }}">
                                                    确认完成交易
                                                </button>
                                            {% elif i.orderStatusId == 5 %}
                                                <span class="text-danger fw-bold align-self-center">订单被买家取消，请联系买家，如同意买家取消请确认取消。</span>
                                                <button class="btn btn-warning" type="button" data-bs-toggle="modal"
                                                        data-bs-target=""
                                                        data-bs-delUrl="location.href='{{ url_for("SecondHand_bp.SecondHand_del_myRelease",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget = "#page-ontransaction")) }}'"
                                                        data-bs-itemName="{{ i.items_name }}">
                                                    确认取消
                                                </button>
                                            {% else %}
                                                <span class="text-danger fw-bold">系统异常</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!--交易完成-->
                <div class="tab-pane fade" id="page-success" role="tabpanel" aria-labelledby="page-success">
                    <div class="accordion accordion-flush" id="accordionFlush-success">
                        {% for i in success %}
                            <div class="accordion-item my-2 border border-primary border-2 rounded-2">
                                <h2 class="accordion-header form-check-label " id="success-flush-heading-{{ id(i) }}">
                                    <div class="row">
                                        <input class="col-1 form-check-input m-4 me-2" type="checkbox" value="" id=""
                                               style="width: 23px; height: 23px;">
                                        <button class="col accordion-button collapsed align-items-center me-4 p-0"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#success-flush-items-{{ id(i) }}">
                                            <h3 class="m-0 p-0">{{ i.items_name }}</h3> &nbsp;&nbsp;&nbsp;
                                            <p class="text-danger fw-bold m-0 p-0"> ¥{{ i.price }}</p>&nbsp;&nbsp;
                                            <p class="text-secondary m-0 p-0">发布时间: {{ i.post_date }}</p>&nbsp;&nbsp;
                                            {% if i.orderStatusId == 4 %}
                                                <p class="text-primary m-0 p-0 fw-bold">交易成功</p>
                                            {% elif i.orderStatusId == 6 %}
                                                <p class="text-primary m-0 p-0 fw-bold">交易取消</p>
                                            {% else %}
                                                <p class="text-danger m-0 p-0 fw-bold">系统异常</p>
                                            {% endif %}
                                        </button>
                                    </div>
                                </h2>
                                <div id="success-flush-items-{{ id(i) }}" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionFlush-success">
                                    <div class="accordion-body">
                                        <p>{{ i.description }}</p>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            {% if i.orderStatusId == 6 %}
                                                <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                                        data-bs-target=""
                                                        data-bs-delUrl="location.href='{{ url_for("SecondHand_bp.SecondHand_del_myRelease",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget = "#page-success")) }}'"
                                                        data-bs-itemName="{{ i.items_name }}">
                                                    修改并重新上架
                                                </button>
                                            {% endif %}
                                            <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#confirmDel"
                                                    data-bs-delUrl="location.href='{{ url_for("SecondHand_bp.SecondHand_del_myRelease",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget = "#page-success")) }}'"
                                                    data-bs-itemName="{{ i.items_name }}">
                                                删除
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!--作为买方-已下单-->
                <div class="tab-pane fade" id="page-buyer-ontransaction" role="tabpanel"
                     aria-labelledby="page-buyer-ontransaction">
                    <div class="accordion accordion-flush" id="accordionFlush-buyer-ontransaction">
                        {% for i in buyer_onTransaction %}
                            <div class="accordion-item my-2 border border-primary border-2 rounded-2">
                                <h2 class="accordion-header form-check-label">
                                    <div class="row">
                                        <input class="col-1 form-check-input m-4 me-2" type="checkbox" value="" id=""
                                               style="width: 23px; height: 23px;">
                                        <button class="col accordion-button collapsed align-items-center me-4 p-0"
                                                type="buttonx"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#buyer-ontransaction-flush-items-{{ id(i) }}">
                                            <h3 class="m-0 p-0p">{{ i.items_name }}</h3> &nbsp;&nbsp;&nbsp;
                                            <p class="text-danger fw-bold m-0 p-0"> ¥{{ i.price }}</p>&nbsp;&nbsp;
                                            <p class="text-secondary m-0 p-0">下单时间: {{ i.start_transaction_date }}</p>&nbsp;&nbsp;
                                            {% if i.orderStatusId == 5 %}
                                                <span class="text-danger fw-bold">您已取消订单，请等待卖家处理</span>
                                            {% elif i.orderStatusId == 2 %}
                                                <span class="text-primary fw-bold">已下单</span>
                                            {% elif i.orderStatusId == 3 %}
                                                <span class="text-primary fw-bold">您已确认收货，等待卖家确认</span>
                                            {% else %}
                                                <span class="text-primary fw-bold">系统异常</span>
                                            {% endif %}
                                        </button>
                                    </div>
                                </h2>
                                <div id="buyer-ontransaction-flush-items-{{ id(i) }}"
                                     class="accordion-collapse collapse"
                                     data-bs-parent="#accordionFlush-buyer-ontransaction">
                                    <div class="accordion-body">
                                        <p>{{ i.description }}</p>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            {% if i.orderStatusId == 2 %}
                                                <button class="btn btn-success" type="button" data-bs-toggle="modal"
                                                        data-bs-target="#confirm-buyer-success"
                                                        data-bs-Url="location.href='{{ url_for("SecondHand_bp.SecondHand_buyer_success",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget = "#page-buyer-ontransaction")) }}'"
                                                        data-bs-itemName="{{ i.items_name }}">
                                                    确认收货
                                                </button>
                                            {% elif i.orderStatusId == 3 %}
                                                <span class="text-danger fw-bold align-self-center">您已取消订单，请等待卖家处理，如有争议请联系论坛管理团队</span>
                                                <button class="btn btn-secondary" type="button" data-bs-toggle="modal"
                                                        data-bs-delUrl="location.href='{{ url_for("SecondHand_bp.SecondHand_del_myRelease",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget = "#page-buyer-ontransaction")) }}'"
                                                        data-bs-itemName="{{ i.items_name }}" disabled>
                                                    等待卖家确认
                                                </button>
                                            {% elif i.orderStatusId == 5 %}
                                                <span class="text-danger fw-bold align-self-center">您已取消订单，请等待卖家处理，如有争议请联系论坛管理团队</span>
                                                <button class="btn btn-secondary" type="button" data-bs-toggle="modal"
                                                        data-bs-delUrl="location.href='{{ url_for("SecondHand_bp.SecondHand_del_myRelease",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget = "#page-buyer-ontransaction")) }}'"
                                                        data-bs-itemName="{{ i.items_name }}" disabled>
                                                    等待卖家处理
                                                </button>
                                            {% else %}
                                                <span class="text-danger fw-bold">系统异常</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!--作为买方-交易完成-->
                <div class="tab-pane fade" id="page-buyer-success" role="tabpanel" aria-labelledby="page-buyer-success">
                    <div class="accordion accordion-flush" id="accordionFlush-buyer-success">
                        {% for i in buyer_success %}
                            <div class="accordion-item my-2 border border-primary border-2 rounded-2">
                                <h2 class="accordion-header form-check-label ">
                                    <div class="row">
                                        <input class="col-1 form-check-input m-4 me-2" type="checkbox" value=""
                                               id=""
                                               style="width: 23px; height: 23px;">
                                        <button class="col accordion-button collapsed align-items-center me-4 p-0"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#buyer-success-flush-items-{{ id(i) }}">
                                            <h3 class="m-0 p-0">{{ i.items_name }}</h3> &nbsp;&nbsp;&nbsp;
                                            <p class="text-danger fw-bold m-0 p-0"> ¥{{ i.price }}</p>&nbsp;&nbsp;
                                            <p class="text-secondary m-0 p-0">下单时间: {{ i.post_date }}</p>&nbsp;&nbsp;
                                            {% if i.orderStatusId == 4 %}
                                                <p class="text-primary m-0 p-0 fw-bold">交易成功</p>
                                            {% elif i.orderStatusId == 6 %}
                                                <p class="text-primary m-0 p-0 fw-bold">交易取消</p>
                                            {% else %}
                                                <p class="text-danger m-0 p-0 fw-bold">系统异常</p>
                                            {% endif %}
                                        </button>
                                    </div>
                                </h2>
                                <div id="buyer-success-flush-items-{{ id(i) }}" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionFlush-buyer-success">
                                    <div class="accordion-body">
                                        <p>{{ i.description }}</p>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            {% if i.orderStatusId == 6 %}
                                                <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                                        data-bs-target="">
                                                    修改并重新上架
                                                </button>
                                            {% endif %}
                                            <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#confirmDel"
                                                    data-bs-delUrl="location.href='{{ url_for("SecondHand_bp.SecondHand_del_myRelease",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget="#page-buyer-success")) }}'"
                                                    data-bs-itemName="{{ i.items_name }}">
                                                删除
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>


            </div>
        </div>
    </main>

    <!--确认删除弹窗-->
    <div class="modal fade" tabindex="-1" id="confirmDel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>确认删除此已发布的物品吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-danger" id="confirmDelButton">
                        删除
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--买家确认收货弹窗-->
    <div class="modal fade" tabindex="-1" id="confirm-buyer-success">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>确认收货吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-success" id="confirm-buyer-success-button">
                        确认
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--卖家确认完成交易（订单完结）弹窗-->
    <div class="modal fade" tabindex="-1" id="confirm-seller-success">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>确认完成交易吗？(确认后即交易成功)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-success" id="confirm-seller-success-button">
                        确认
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('SecondHand_bp.static', filename='bootstrap.js') }}"></script>
    <script>
        // the first activate tab when direct to the page
        {% if tabTarget is none %}
        var TabEl = document.querySelector('#userRecord-pills-tab button[data-bs-target="#page-onsale"]')
        {% else %}
        var TabEl = document.querySelector('#userRecord-pills-tab button[data-bs-target="{{ tabTarget }}"]')
        {% endif %}
        var firstTab = new bootstrap.Tab(TabEl)
        firstTab.show()


        // delete frontend logic
        var confirmDel = document.getElementById('confirmDel')
        confirmDel.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var delUrl = button.getAttribute('data-bs-delUrl')
            var name = button.getAttribute('data-bs-itemName')
            var delButton = document.getElementById("confirmDelButton")
            delButton.setAttribute('onclick', delUrl)
            var modalTitle = confirmDel.querySelector('.modal-title')
            modalTitle.textContent = name
        })


        // buyer success confirmation frontend logic
        var confirm_buyer_success = document.getElementById('confirm-buyer-success')
        confirm_buyer_success.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var Url = button.getAttribute('data-bs-Url')
            var name = button.getAttribute('data-bs-itemName')
            var Button = document.getElementById("confirm-buyer-success-button")
            Button.setAttribute('onclick', Url)
            var modalTitle = confirm_buyer_success.querySelector('.modal-title')
            modalTitle.textContent = name
        })

        // seller success confirmation frontend logic
        var confirm_seller_success = document.getElementById('confirm-seller-success')
        confirm_seller_success.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var Url = button.getAttribute('data-bs-Url')
            var name = button.getAttribute('data-bs-itemName')
            var Button = document.getElementById("confirm-seller-success-button")
            Button.setAttribute('onclick', Url)
            var modalTitle = confirm_seller_success.querySelector('.modal-title')
            modalTitle.textContent = name
        })


    </script>
{% endblock %}
