{% extends theme("layout.html") %}
{% set page_title = "讯飞未来港BBS二手交易平台" %}
{% block head_extra %}
    <script src="{{ url_for('SecondHand_bp.static', filename='jquery-3.6.0.min.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <h1 class="text-center text-primary">讯飞未来港BBS二手交易平台</h1>
        <div class="container-fluid my-4">

            <div class="d-flex justify-content-end mb-4">
                <button type="button" class="btn btn-secondary btn-lg" data-bs-toggle="modal"
                        data-bs-target="#ReleaseItemsModal">+ 发布物品
                </button>
            </div>
            <div class="row row-cols-2 row-cols-lg-4 g-4">
                {% for i in items %}
                    <div class="col">
                        <div class="card">
                            <a href="{{ url_for("SecondHand_bp.SecondHand_desc", item=i.id) }}">
                                <div class="align-items-center" style="overflow: hidden; height: 350px;">
                                    <img src="{{ i.main_picture_url }}" class="img-thumbnail"/>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ i.items_name }}</h5>
                                    <p class="card-text">¥{{ i.price }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-lg justify-content-center m-5">
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!--发布商品Model-->
    <div class="modal fade" id="ReleaseItemsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">发布物品</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div id="ReleaseMessage">
                </div>

                {#                {% for field, errors in form.errors.items() %}#}
                {#                    <div class="alert alert-danger d-flex align-items-center m-2 alert-dismissible fade show"#}
                {#                         role="alert">#}
                {#                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">#}
                {#                            <use xlink:href="#exclamation-triangle-fill"/>#}
                {#                        </svg>#}
                {#                        {{ errors[1] }}#}
                {#                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>#}
                {#                    </div>#}
                {#                {% endfor %}#}


                <form action="{{ handler_url }}" method="post" id="ReleaseItemsForm">
                    {{ form.csrf_token }}

                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">物品名称</label>
                            {{ form.items_name(class="form-control" ) }}
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">价格</label>
                            {{ form.price(class="form-control" ) }}
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">物品图片URL</label>
                            {{ form.main_picture_url(class="form-control" ) }}
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">描述</label>
                            {{ form.desc(class="form-control" ) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-lg" id="releaseButton">发布</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
    <script>
        var ReleaseItemsModal = document.getElementById('ReleaseItemsModal')
        ReleaseItemsModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var recipient = button.getAttribute('data-bs-whatever')
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            {#var modalTitle = ReleaseItemsModal.querySelector('.modal-title')#}
            {#var modalBodyInput = ReleaseItemsModal.querySelector('.modal-body input')#}
            {##}
            {#modalTitle.textContent = 'New message to ' + recipient#}
            {#modalBodyInput.value = recipient#}
        })


        $("#releaseButton").on("click", function (event) {
            event.preventDefault()
            var form = new FormData(document.getElementById("ReleaseItemsForm"));
            $.ajax({
                url: "{{ url_for('SecondHand_bp.SecondHand_index') }}",
                type: "post",
                data: form,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response["validate"] === "success") {
                        location.href = {{ url_for("SecondHand_bp.SecondHand_index") }};
                    } else if (response["validate"] === "error") {
                        var html = ""
                        for (var i in response) {
                            if (i !== "validate") {
                                html += `<div class="alert alert-danger d-flex align-items-center m-2 alert-dismissible fade show" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                            <use xlink:href="#exclamation-triangle-fill"/>
                        </svg>
                        ${response[i][1]}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`

                            }
                        }
                        document.getElementById('ReleaseMessage').innerHTML = html
                    } else {
                        document.getElementById('ReleaseMessage').innerHTML = `<div class="alert alert-danger d-flex align-items-center m-2 alert-dismissible fade show" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                            <use xlink:href="#exclamation-triangle-fill"/>
                        </svg>
                        发布失败，请重试！
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`
                    }
                },
                error: function (response) {
                    document.getElementById('ReleaseMessage').innerHTML = `<div class="alert alert-danger d-flex align-items-center m-2 alert-dismissible fade show" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                            <use xlink:href="#exclamation-triangle-fill"/>
                        </svg>
                        发布失败，请重试！
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`
                }
            })
        })


    </script>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
{% endblock %}
