{% extends theme("user/profile_layout.html") %}

{% block breadcrumb %}
    <ol class="breadcrumb flaskbb-breadcrumb bg-light">
        <li class="breadcrumb-item"><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="{{ user.url }}">{{ user.username }}</a></li>
        <li class="breadcrumb-item active">{% trans %}二手交易{% endtrans %}</li>
    </ol>
{% endblock %}
{% block head_extra %}
    <script src="{{ url_for('SecondHand_bp.static', filename='jquery-3.6.0.min.js') }}"></script>
{% endblock %}

<!--disable the js of flaskbb-->
{% block javascript %}
{% endblock %}


{% block profile_content %}
    {% from 'helper/SecondHand_modal.html' import change_item_modal, confirm_modal %}
    <main>
        <!-- 小屏幕下的订单分类 breakpoint<md -->
        <button class="btn btn-primary d-md-none" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvas-category"
                aria-controls="offcanvas-category">
            订单分类
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas-category"
             aria-labelledby="userRecord-offcanvas">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">订单分类</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="nav flex-column nav-pills m-2"
                     role="tablist" aria-orientation="vertical">
                    <p class="m-0 p-0 text-secondary">作为卖方</p>
                    <button class="nav-link active m-1" id="button-onsale" data-bs-toggle="pill"
                            data-bs-target="#page-onsale" type="button" role="tab" aria-controls="button-onsale"
                            aria-selected="true" onclick="hideOffcanvasCategory()">我的发布
                    </button>
                    <button class="nav-link m-1" id="button-ontransaction" data-bs-toggle="pill"
                            data-bs-target="#page-ontransaction" type="button" role="tab"
                            aria-controls="botton-on-transaction"
                            aria-selected="false" onclick="hideOffcanvasCategory()">正在交易
                        {% if onTransaction|length != 0 %}
                            <span class="badge bg-danger p-1">{{ onTransaction|length }}</span>
                        {% endif %}
                    </button>
                    <button class="nav-link m-1" id="button-success" data-bs-toggle="pill"
                            data-bs-target="#page-success" type="button" role="tab" aria-controls="button-success"
                            aria-selected="false" onclick="hideOffcanvasCategory()">交易完成
                    </button>
                    <p class="m-0 p-0 text-secondary mt-3">作为买方</p>
                    <button class="nav-link m-1" id="button-buyer-ontransaction" data-bs-toggle="pill"
                            data-bs-target="#page-buyer-ontransaction" type="button" role="tab"
                            aria-controls="button-buyer-ontransaction"
                            aria-selected="false" onclick="hideOffcanvasCategory()">正在交易
                        {% if buyer_onTransaction|length != 0 %}
                            <span class="badge bg-danger p-1">{{ buyer_onTransaction|length }}</span>
                        {% endif %}
                    </button>
                    <button class="nav-link m-1" id="button-buyer-success" data-bs-toggle="pill"
                            data-bs-target="#page-buyer-success" type="button" role="tab"
                            aria-controls="page-buyer-success"
                            aria-selected="false" onclick="hideOffcanvasCategory()">交易完成
                    </button>
                </div>
            </div>
        </div>

        <!-- 大屏幕下的订单分类 breakpoint>=md -->
        <div class="d-flex align-items-start my-2">
            <div class="nav flex-column nav-pills m-2 me-4 shadow-lg p-3 mb-5 rounded border border-5 d-none d-md-block"
                 id="userRecord-pills-tab"
                 role="tablist" aria-orientation="vertical"
                 style="width: 185px">
                <p class="m-0 p-0 text-secondary">作为卖方</p>
                <button class="nav-link active m-1 px-3 w-100" id="button-onsale" data-bs-toggle="pill"
                        data-bs-target="#page-onsale" type="button" role="tab" aria-controls="button-onsale"
                        aria-selected="true">我的发布
                </button>

                <button class="nav-link m-1 px-3 w-100" id="button-ontransaction" data-bs-toggle="pill"
                        data-bs-target="#page-ontransaction" type="button" role="tab"
                        aria-controls="botton-on-transaction"
                        aria-selected="false">正在交易
                    {% if onTransaction|length != 0 %}
                        <span class="badge bg-danger p-1">{{ onTransaction|length }}</span>
                    {% endif %}
                </button>
                <button class="nav-link m-1 px-3 w-100" id="button-success" data-bs-toggle="pill"
                        data-bs-target="#page-success" type="button" role="tab" aria-controls="button-success"
                        aria-selected="false">交易完成
                </button>
                <p class="m-0 p-0 text-secondary mt-3">作为买方</p>
                <button class="nav-link m-1 px-3 w-100" id="button-buyer-ontransaction" data-bs-toggle="pill"
                        data-bs-target="#page-buyer-ontransaction" type="button" role="tab"
                        aria-controls="button-buyer-ontransaction"
                        aria-selected="false">正在交易
                    {% if buyer_onTransaction|length != 0 %}
                        <span class="badge bg-danger p-1">{{ buyer_onTransaction|length }}</span>
                    {% endif %}
                </button>
                <button class="nav-link m-1 px-3 w-100" id="button-buyer-success" data-bs-toggle="pill"
                        data-bs-target="#page-buyer-success" type="button" role="tab" aria-controls="page-buyer-success"
                        aria-selected="false">交易完成
                </button>
            </div>


            <div class="tab-content w-100" id="v-pills-tabContent">
                <!--卖家-我发布的-->
                <div class="tab-pane fade show active" id="page-onsale" role="tabpanel"
                     aria-labelledby="page-onsale">
                    <div class="accordion accordion-flush" id="accordionFlush-onsalse">
                        {% for i in myRelease %}
                            <div class="accordion-item my-2 border border-primary border-2 rounded-2">
                                <h2 class="accordion-header" id="flush-heading-{{ i.id }}">
                                    <button class="accordion-button collapsed align-items-center"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-items-{{ i.id }}">
                                        <h3 class="m-0 p-0">{{ i.items_name }}</h3> &nbsp;&nbsp;&nbsp;
                                        <p class="text-danger fw-bold m-0 p-0"> ¥{{ i.price }}</p> &nbsp;&nbsp;
                                        <p class="text-secondary m-0 p-0">发布时间: {{ i.post_date }}</p>
                                    </button>
                                </h2>
                                <div id="flush-items-{{ i.id }}" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionFlush-onsalse">
                                    <div class="accordion-body">
                                        <a class="text-primary h4"
                                           href="{{ url_for("SecondHand_bp.SecondHand_desc", item=i.id) }}">商品详情页</a>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#ChangeItemModal"
                                                    data-bs-title="{{ "修改物品 " + i.items_name }}"
                                                    data-bs-url="{{ url_for('SecondHand_bp.SecondHand_change_item',item=i.id) }}"
                                                    data-bs-next-url="{{ url_for('SecondHand_bp.SecondHand_userRecord', tabTarget = '#page-onsale') }}">
                                                修改
                                            </button>
                                            <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#confirmDel"
                                                    data-bs-delUrl="location.href='{{ url_for("SecondHand_bp.SecondHand_del_myRelease",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget = "#page-onsale")) }}'"
                                                    data-bs-itemName="{{ i.items_name }}">
                                                删除
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!--卖家-正在交易-->
                <div class="tab-pane fade" id="page-ontransaction" role="tabpanel"
                     aria-labelledby="page-on-transaction">
                    <div class="accordion accordion-flush" id="accordionFlush-ontransaction">
                        {% for i in onTransaction %}
                            <div class="accordion-item my-2 border border-primary border-2 rounded-2">
                                <h2 class="accordion-header"
                                    id="ontransaction-flush-heading-{{ i.id }}">
                                    <button class="accordion-button collapsed align-items-center"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#ontransaction-flush-items-{{ i.id }}"
                                            aria-expanded="false">
                                        <h3 class="m-0 p-0">{{ i.items_name }}</h3> &nbsp;&nbsp;&nbsp;
                                        <p class="text-danger fw-bold m-0 p-0"> ¥{{ i.price }}</p>&nbsp;&nbsp;
                                        <p class="text-secondary m-0 p-0">发布时间: {{ i.post_date }}</p>&nbsp;&nbsp;
                                        {% if i.orderStatusId == 5 %}
                                            <span class="text-danger fw-bold">订单被买家取消</span>
                                        {% elif i.orderStatusId == 2 %}
                                            <span class="text-primary fw-bold">已被购买请联系买家</span>
                                        {% elif i.orderStatusId == 3 %}
                                            <span class="text-primary fw-bold">买家已确认收货</span>
                                        {% else %}
                                            <span class="text-primary fw-bold">系统异常</span>
                                        {% endif %}
                                    </button>
                                </h2>
                                <div id="ontransaction-flush-items-{{ i.id }}" class="accordion-collapse collapse"
                                     aria-labelledby="flush-heading-{{ i.id }}"
                                     data-bs-parent="#accordionFlush-ontransaction">
                                    <div class="accordion-body">
                                        <h4 class="text-secondary">买家信息</h4>
                                        {% if User.query.filter(i.buyerID == User.id).one_or_none() is none %}
                                            <p>&nbsp;&nbsp;<a role="button"
                                                              class="btn btn-outline-primary disabled">您无法访问对方主页</a></p>
                                        {% else %}
                                            <p>&nbsp;&nbsp;<a role="button"
                                                              href="{{ User.query.filter(i.buyerID == User.id).one_or_none().url }}"
                                                              class="btn btn-outline-primary">{{ User.query.filter(i.buyerID == User.id).one_or_none().username }}&nbsp;个人主页</a>
                                            </p>
                                        {% endif %}
                                        <p>&nbsp;&nbsp;<span class="fw-bold text-muted ">手机号</span> {{ i.buyer_phone }}
                                        </p>
                                        <p>&nbsp;&nbsp;<span
                                                class="fw-bold text-muted ">Email</span> {{ i.buyer_email }}</p>
                                        <p>&nbsp;&nbsp;<span
                                                class="fw-bold text-muted ">地址</span> {{ i.buyer_location }}</p>
                                        <p>&nbsp;&nbsp;<span class="fw-bold text-muted ">留言</span> {{ i.buyer_comment }}
                                        </p>
                                        <h4 class="text-secondary">订单信息</h4>
                                        <p>&nbsp;&nbsp;<span
                                                class="fw-bold text-muted ">下单时间</span> {{ i.start_transaction_date }}
                                        </p>
                                        <a class="text-primary h4"
                                           href="{{ url_for("SecondHand_bp.SecondHand_desc", item=i.id) }}">商品详情页</a>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            {% if i.orderStatusId == 2 %}
                                                <span class="text-secondary fw-bold align-self-center">买家收货后，需要您确认完成交易(双向确认)</span>
                                                <button class="btn btn-secondary" type="button" disabled>
                                                    等待买家确认收货
                                                </button>
                                            {% elif i.orderStatusId == 3 %}
                                                <button class="btn btn-success" type="button" data-bs-toggle="modal"
                                                        data-bs-target="#confirm-seller-success"
                                                        data-bs-Url="location.href='{{ url_for("SecondHand_bp.SecondHand_seller_success",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget = "#page-ontransaction")) }}'"
                                                        data-bs-itemName="{{ i.items_name }}">
                                                    确认完成交易
                                                </button>
                                            {% elif i.orderStatusId == 5 %}
                                                <span class="text-danger fw-bold align-self-center">订单被买家取消，请联系买家，如同意买家取消购买请确认取消。</span>
                                                <button class="btn btn-warning" type="button" data-bs-toggle="modal"
                                                        data-bs-target="#cancel-seller"
                                                        data-bs-Url="location.href='{{ url_for("SecondHand_bp.SecondHand_seller_cancel",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget = "#page-ontransaction")) }}'"
                                                        data-bs-itemName="{{ i.items_name }}">
                                                    确认取消
                                                </button>
                                            {% else %}
                                                <span class="text-danger fw-bold">系统异常</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!--卖家-交易完成-->
                <div class="tab-pane fade" id="page-success" role="tabpanel" aria-labelledby="page-success">
                    <div class="accordion accordion-flush" id="accordionFlush-success">
                        {% for i in success %}
                            <div class="accordion-item my-2 border border-primary border-2 rounded-2">
                                <h2 class="accordion-header" id="success-flush-heading-{{ i.id }}">
                                    <button class="accordion-button collapsed align-items-center"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#success-flush-items-{{ i.id }}">
                                        <h3 class="m-0 p-0">{{ i.items_name }}</h3> &nbsp;&nbsp;&nbsp;
                                        <p class="text-danger fw-bold m-0 p-0"> ¥{{ i.price }}</p>&nbsp;&nbsp;
                                        <p class="text-secondary m-0 p-0">发布时间: {{ i.post_date }}</p>&nbsp;&nbsp;
                                        {% if i.orderStatusId == 4 %}
                                            <p class="text-primary m-0 p-0 fw-bold">交易成功</p>
                                        {% elif i.orderStatusId == 6 %}
                                            <p class="text-primary m-0 p-0 fw-bold">交易取消</p>
                                        {% else %}
                                            <p class="text-danger m-0 p-0 fw-bold">系统异常</p>
                                        {% endif %}
                                    </button>
                                </h2>
                                <div id="success-flush-items-{{ i.id }}" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionFlush-success">
                                    <div class="accordion-body">
                                        <h4 class="text-secondary">买家信息</h4>
                                        {% if User.query.filter(i.buyerID == User.id).one_or_none() is none %}
                                            <p>&nbsp;&nbsp;<a role="button"
                                                              class="btn btn-outline-primary disabled">您无法访问对方主页</a></p>
                                        {% else %}
                                            <p>&nbsp;&nbsp;<a role="button"
                                                              href="{{ User.query.filter(i.buyerID == User.id).one_or_none().url }}"
                                                              class="btn btn-outline-primary">{{ User.query.filter(i.buyerID == User.id).one_or_none().username }}&nbsp;个人主页</a>
                                            </p>
                                        {% endif %}
                                        <p>&nbsp;&nbsp;<span class="fw-bold text-muted ">手机号</span> {{ i.buyer_phone }}
                                        </p>
                                        <p>&nbsp;&nbsp;<span
                                                class="fw-bold text-muted ">Email</span> {{ i.buyer_email }}</p>
                                        <p>&nbsp;&nbsp;<span
                                                class="fw-bold text-muted ">地址</span> {{ i.buyer_location }}</p>
                                        <p>&nbsp;&nbsp;<span class="fw-bold text-muted ">留言</span> {{ i.buyer_comment }}
                                        </p>
                                        <h4 class="text-secondary">订单信息</h4>
                                        <p>&nbsp;&nbsp;<span
                                                class="fw-bold text-muted ">下单时间</span> {{ i.start_transaction_date }}
                                        </p>
                                        <p>&nbsp;&nbsp;<span
                                                class="fw-bold text-muted ">交易完成时间</span> {{ i.success_transaction_date }}
                                        </p>
                                        <a class="text-primary h4"
                                           href="{{ url_for("SecondHand_bp.SecondHand_desc", item=i.id) }}">商品详情页</a>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            {% if i.orderStatusId == 6 %}
                                                <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                                        data-bs-target=""
                                                        data-bs-delUrl="location.href='{{ url_for("SecondHand_bp.SecondHand_del_myRelease",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget = "#page-success")) }}'"
                                                        data-bs-itemName="{{ i.items_name }}">
                                                    修改并重新上架
                                                </button>
                                            {% endif %}
                                            <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#confirmDel"
                                                    data-bs-delUrl="location.href='{{ url_for("SecondHand_bp.SecondHand_del_myRelease",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget = "#page-success")) }}'"
                                                    data-bs-itemName="{{ i.items_name }}">
                                                删除
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!--作为买方-正在交易-->
                <div class="tab-pane fade" id="page-buyer-ontransaction" role="tabpanel"
                     aria-labelledby="page-buyer-ontransaction">
                    <div class="accordion accordion-flush" id="accordionFlush-buyer-ontransaction">
                        {% for i in buyer_onTransaction %}
                            <div class="accordion-item my-2 border border-primary border-2 rounded-2">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed align-items-center"
                                            type="buttonx"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#buyer-ontransaction-flush-items-{{ i.id }}">
                                        <h3 class="m-0 p-0p">{{ i.items_name }}</h3> &nbsp;&nbsp;&nbsp;
                                        <p class="text-danger fw-bold m-0 p-0"> ¥{{ i.price }}</p>&nbsp;&nbsp;
                                        <p class="text-secondary m-0 p-0">下单时间: {{ i.start_transaction_date }}</p>&nbsp;&nbsp;
                                        {% if i.orderStatusId == 5 %}
                                            <span class="text-danger fw-bold">您已取消订单，请等待卖家处理</span>
                                        {% elif i.orderStatusId == 2 %}
                                            <span class="text-primary fw-bold">已下单</span>
                                        {% elif i.orderStatusId == 3 %}
                                            <span class="text-primary fw-bold">您已确认收货，等待卖家确认</span>
                                        {% else %}
                                            <span class="text-primary fw-bold">系统异常</span>
                                        {% endif %}
                                    </button>
                                </h2>
                                <div id="buyer-ontransaction-flush-items-{{ i.id }}"
                                     class="accordion-collapse collapse"
                                     data-bs-parent="#accordionFlush-buyer-ontransaction">
                                    <div class="accordion-body">
                                        <h4 class="text-secondary">您的交易联系方式</h4>
                                        <p>&nbsp;&nbsp;<span class="fw-bold text-muted ">手机号</span> {{ i.buyer_phone }}
                                        </p>
                                        <p>&nbsp;&nbsp;<span
                                                class="fw-bold text-muted ">Email</span> {{ i.buyer_email }}</p>
                                        <p>&nbsp;&nbsp;<span
                                                class="fw-bold text-muted ">地址</span> {{ i.buyer_location }}</p>
                                        <p>&nbsp;&nbsp;<span class="fw-bold text-muted ">留言</span> {{ i.buyer_comment }}
                                        </p>
                                        <h4 class="text-secondary">订单信息</h4>
                                        {% if User.query.filter(i.sellerID == User.id).one_or_none() is none %}
                                            <p>&nbsp;&nbsp;<a role="button"
                                                              class="btn btn-outline-primary disabled">您无法访问卖家个人主页</a>
                                            </p>
                                        {% else %}
                                            <p>&nbsp;&nbsp;<a role="button"
                                                              href="{{ User.query.filter(i.sellerID == User.id).one_or_none().url }}"
                                                              class="btn btn-outline-primary">卖家&nbsp;{{ User.query.filter(i.sellerID == User.id).one_or_none().username }}&nbsp;个人主页</a>
                                            </p>
                                        {% endif %}
                                        <p>&nbsp;&nbsp;<span
                                                class="fw-bold text-muted ">下单时间</span> {{ i.start_transaction_date }}
                                        </p>
                                        <a class="text-primary h4"
                                           href="{{ url_for("SecondHand_bp.SecondHand_desc", item=i.id) }}">商品详情页</a>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            {% if i.orderStatusId == 2 %}
                                                <button class="btn btn-success" type="button" data-bs-toggle="modal"
                                                        data-bs-target="#confirm-buyer-success"
                                                        data-bs-Url="location.href='{{ url_for("SecondHand_bp.SecondHand_buyer_success",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget = "#page-buyer-ontransaction")) }}'"
                                                        data-bs-itemName="{{ i.items_name }}">
                                                    确认收货
                                                </button>
                                                <button class="btn btn-warning" type="button" data-bs-toggle="modal"
                                                        data-bs-target="#cancel-buyer"
                                                        data-bs-Url="location.href='{{ url_for("SecondHand_bp.SecondHand_buyer_cancel",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget = "#page-buyer-ontransaction")) }}'"
                                                        data-bs-itemName="{{ i.items_name }}">
                                                    取消订单
                                                </button>
                                            {% elif i.orderStatusId == 3 %}
                                                <span class="text-secondary fw-bold align-self-center">卖家确认后，交易完成</span>
                                                <button class="btn btn-secondary" type="button" data-bs-toggle="modal"
                                                        data-bs-delUrl="location.href='{{ url_for("SecondHand_bp.SecondHand_del_myRelease",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget = "#page-buyer-ontransaction")) }}'"
                                                        data-bs-itemName="{{ i.items_name }}" disabled>
                                                    等待卖家确认
                                                </button>
                                            {% elif i.orderStatusId == 5 %}
                                                <span class="text-danger fw-bold align-self-center">您已取消订单，请等待卖家处理，如有争议请联系论坛管理团队</span>
                                                <button class="btn btn-secondary" type="button" data-bs-toggle="modal"
                                                        data-bs-delUrl="location.href='{{ url_for("SecondHand_bp.SecondHand_del_myRelease",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget = "#page-buyer-ontransaction")) }}'"
                                                        data-bs-itemName="{{ i.items_name }}" disabled>
                                                    等待卖家处理
                                                </button>
                                            {% else %}
                                                <span class="text-danger fw-bold">系统异常</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!--作为买方-交易完成-->
                <div class="tab-pane fade" id="page-buyer-success" role="tabpanel" aria-labelledby="page-buyer-success">
                    <div class="accordion accordion-flush" id="accordionFlush-buyer-success">
                        {% for i in buyer_success %}
                            <div class="accordion-item my-2 border border-primary border-2 rounded-2">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed align-items-center"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#buyer-success-flush-items-{{ i.id }}">
                                        <h3 class="m-0 p-0">{{ i.items_name }}</h3> &nbsp;&nbsp;&nbsp;
                                        <p class="text-danger fw-bold m-0 p-0"> ¥{{ i.price }}</p>&nbsp;&nbsp;
                                        <p class="text-secondary m-0 p-0">下单时间: {{ i.post_date }}</p>&nbsp;&nbsp;
                                        {% if i.orderStatusId == 4 %}
                                            <p class="text-primary m-0 p-0 fw-bold">交易成功</p>
                                        {% elif i.orderStatusId == 6 %}
                                            <p class="text-primary m-0 p-0 fw-bold">交易取消</p>
                                        {% else %}
                                            <p class="text-danger m-0 p-0 fw-bold">系统异常</p>
                                        {% endif %}
                                    </button>
                                </h2>
                                <div id="buyer-success-flush-items-{{ i.id }}" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionFlush-buyer-success">
                                    <div class="accordion-body">
                                        <h4 class="text-secondary">您的交易联系方式</h4>
                                        <p>&nbsp;&nbsp;<span class="fw-bold text-muted ">手机号</span> {{ i.buyer_phone }}
                                        </p>
                                        <p>&nbsp;&nbsp;<span
                                                class="fw-bold text-muted ">Email</span> {{ i.buyer_email }}</p>
                                        <p>&nbsp;&nbsp;<span
                                                class="fw-bold text-muted ">地址</span> {{ i.buyer_location }}</p>
                                        <p>&nbsp;&nbsp;<span class="fw-bold text-muted ">留言</span> {{ i.buyer_comment }}
                                        </p>
                                        <h4 class="text-secondary">订单信息</h4>
                                        {% if User.query.filter(i.sellerID == User.id).one_or_none() is none %}
                                            <p>&nbsp;&nbsp;<a role="button"
                                                              class="btn btn-outline-primary disabled">您无法访问卖家个人主页</a>
                                            </p>
                                        {% else %}
                                            <p>&nbsp;&nbsp;<a role="button"
                                                              href="{{ User.query.filter(i.sellerID == User.id).one_or_none().url }}"
                                                              class="btn btn-outline-primary">卖家&nbsp;{{ User.query.filter(i.sellerID == User.id).one_or_none().username }}&nbsp;个人主页</a>
                                            </p>
                                        {% endif %}
                                        <p>&nbsp;&nbsp;<span
                                                class="fw-bold text-muted ">下单时间</span> {{ i.start_transaction_date }}
                                        </p>
                                        <p>&nbsp;&nbsp;<span
                                                class="fw-bold text-muted ">交易完成时间</span> {{ i.success_transaction_date }}
                                        </p>
                                        <a class="text-primary h4"
                                           href="{{ url_for("SecondHand_bp.SecondHand_desc", item=i.id) }}">商品详情页</a>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#confirmDel"
                                                    data-bs-delUrl="location.href='{{ url_for("SecondHand_bp.SecondHand_del_myRelease",item=i.id, next_url=url_for("SecondHand_bp.SecondHand_userRecord", tabTarget="#page-buyer-success")) }}'"
                                                    data-bs-itemName="{{ i.items_name }}">
                                                删除
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>


    <!--确认删除Modal-->
    {{ confirm_modal(modal_id='confirmDel', btn_id='confirmDelButton', text="确认删除此已发布的物品吗？(此操作不可恢复)", btn_class="btn btn-danger", btn_text="删除") }}
    <!--买家确认收货Modal-->
    {{ confirm_modal(modal_id='confirm-buyer-success', btn_id='confirm-buyer-success-button', text="确认收货吗？(收货后需卖家确认完成交易后交易成功)", btn_class="btn btn-success", btn_text="确认") }}
    <!--卖家确认完成交易（订单完结）Modal-->
    {{ confirm_modal(modal_id='confirm-seller-success', btn_id='confirm-seller-success-button', text="确认完成交易吗？(确认后即交易成功)", btn_class="btn btn-success", btn_text="确认") }}
    <!--买家取消订单Modal-->
    {{ confirm_modal(modal_id='cancel-buyer', btn_id='cancel-buyer-button', text="确认取消订单吗？(取消后需买家同意后交易取消，请与买家商议解决，如有争议请联系论坛管理团队)", btn_class="btn btn-warning", btn_text="取消") }}
    <!--卖家确认取消（订单完结）Modal-->
    {{ confirm_modal(modal_id='cancel-seller', btn_id='cancel-seller-button', text="确认取消吗？(取消后订单完结，交易完成)", btn_class="btn btn-warning", btn_text="确认取消") }}
    <!--修改物品Modal-->
    {{ change_item_modal(form=form_change, modal_id='ChangeItemModal', btn_id='ChangeButton') }}



    <script src="{{ url_for('SecondHand_bp.static', filename='bootstrap.js') }}"></script>
    <script>
        // the first activate tab when direct to the page
        {% if tabTarget is none %}
            var TabEl = document.querySelector('#userRecord-pills-tab button[data-bs-target="#page-onsale"]')
        {% else %}
            var TabEl = document.querySelector('#userRecord-pills-tab button[data-bs-target="{{ tabTarget }}"]')
        {% endif %}
        var firstTab = new bootstrap.Tab(TabEl)
        firstTab.show()


        // delete frontend logic
        var confirmDel = document.getElementById('confirmDel')
        confirmDel.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var delUrl = button.getAttribute('data-bs-delUrl')
            var name = button.getAttribute('data-bs-itemName')
            var delButton = document.getElementById("confirmDelButton")
            delButton.setAttribute('onclick', delUrl)
            var modalTitle = confirmDel.querySelector('.modal-title')
            modalTitle.textContent = name
        })


        // buyer success confirmation frontend logic
        var confirm_buyer_success = document.getElementById('confirm-buyer-success')
        confirm_buyer_success.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var Url = button.getAttribute('data-bs-Url')
            var name = button.getAttribute('data-bs-itemName')
            var Button = document.getElementById("confirm-buyer-success-button")
            Button.setAttribute('onclick', Url)
            var modalTitle = confirm_buyer_success.querySelector('.modal-title')
            modalTitle.textContent = name
        })


        // seller success confirmation frontend logic
        var confirm_seller_success = document.getElementById('confirm-seller-success')
        confirm_seller_success.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var Url = button.getAttribute('data-bs-Url')
            var name = button.getAttribute('data-bs-itemName')
            var Button = document.getElementById("confirm-seller-success-button")
            Button.setAttribute('onclick', Url)
            var modalTitle = confirm_seller_success.querySelector('.modal-title')
            modalTitle.textContent = name
        })


        // buyer cancel the order
        var cancel_buyer = document.getElementById('cancel-buyer')
        cancel_buyer.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var Url = button.getAttribute('data-bs-Url')
            var name = button.getAttribute('data-bs-itemName')
            var Button = document.getElementById("cancel-buyer-button")
            Button.setAttribute('onclick', Url)
            var modalTitle = cancel_buyer.querySelector('.modal-title')
            modalTitle.textContent = name
        })


        // seller cancel the order
        var cancel_seller = document.getElementById('cancel-seller')
        cancel_seller.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var Url = button.getAttribute('data-bs-Url')
            var name = button.getAttribute('data-bs-itemName')
            var Button = document.getElementById("cancel-seller-button")
            Button.setAttribute('onclick', Url)
            var modalTitle = cancel_seller.querySelector('.modal-title')
            modalTitle.textContent = name
        })


        // change items
        var change_items = document.getElementById('ChangeItemModal')
        change_items.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            var name = button.getAttribute('data-bs-title')
            var modalTitle = change_items.querySelector('.modal-title')
            modalTitle.textContent = name
            var url = button.getAttribute('data-bs-url')
            var next_url = button.getAttribute('data-bs-next-url')
            var ChangeItemsForm = change_items.querySelector('#ChangeItemsForm')
            ChangeItemsForm.setAttribute("action", url)
            //submit form data with ajax
            var ChangeButton = document.getElementById("ChangeButton")
            ChangeButton.onclick = function changeItemsAjax(event) {
                event.preventDefault();
                var form = new FormData(document.getElementById("ChangeItemsForm"));
                $.ajax({
                    url: url,
                    type: "post",
                    data: form,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response["validate"] === "success") {
                            location.href = next_url;
                        } else if (response["validate"] === "error") {
                            var html = ""
                            for (var i in response) {
                                if (i !== "validate") {
                                    html += `<div class="alert alert-danger d-flex align-items-center m-2 alert-dismissible fade show" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                            <use xlink:href="#exclamation-triangle-fill"/>
                        </svg>
                        ${response[i]}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`
                                }
                            }
                            document.getElementById('ReleaseMessage').innerHTML = html
                        } else {
                            document.getElementById('ReleaseMessage').innerHTML = `<div class="alert alert-danger d-flex align-items-center m-2 alert-dismissible fade show" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                            <use xlink:href="#exclamation-triangle-fill"/>
                        </svg>
                        修改失败，请重试！
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`
                        }
                    },
                    error: function (response) {
                        document.getElementById('ReleaseMessage').innerHTML = `<div class="alert alert-danger d-flex align-items-center m-2 alert-dismissible fade show" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                            <use xlink:href="#exclamation-triangle-fill"/>
                        </svg>
                        修改失败，请重试！
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`
                    }
                })
            }
        })


        //hide offcanvas
        var myOffcanvas = document.getElementById('offcanvas-category')
        var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas)
        function hideOffcanvasCategory() {
            bsOffcanvas.hide();
        }
    </script>
    <p>* 交易完成页面中包含取消的订单</p>
    {% include 'helper/alert_svg.html' %}
{% endblock %}
